html {
    @media (min-width: 601px) {
        font-size: calc(0.5vw + 9px);
    }
    @media (max-width: 768px), (min-device-pixel-ratio: 2) {
        font-size: calc(1.4vw + 3px);
    }
}

body {
    width: 100vw;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

#xarik-logo {
    @media (min-width: 601px) {
        width: 40%;
    }
    @media (max-width: 768px), (min-device-pixel-ratio: 2) {
        width: 60%;
    }
}

#wrap {
    background: linear-gradient(#ffb46b 80vh, #4fb3cb 132.5vh);
    background-size: 100% 100%;
}

#getWaitlistContainer {
    margin-top: 1em;
    justify-content: center;
    max-width: 80%;
}

input.gw-bg-transparent {
    background: white !important;
    border-width: 2px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    h3 {
        margin: 0;
        color: white;
        font-size: 2em;
        font-weight: 600;
        white-space: nowrap;
    }
}

main {
    width: 100vw;
}
